body {
    margin: 0;
}

#screen-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #34495E;
    transition-delay: all 0.5s linear;
    display: block;
}
/* #f4f5f7 */
#ipad-rectangle {
    width: 95vw;
    height: 80vh;
    background-color: #000000;
    border-radius: 50px;
    margin: auto;
    position: relative;
    top: 9vh;
    display: flex;
    box-shadow: 1px 2px 10px #000000;
    transition: width 0.3s;
}

#ipad-top {
    flex: 0.5;
    border-radius: 50px 0px 0px 50px;
    flex-direction: column;
    background-color: #f4f5f7;
    transition: width 0.5s;
}

/* align contents center  class="flex_Center"*/

div.flex_Center {
    display:flex;
    justify-content: center;
    align-items: center;
}

/* #f4f5f7 */
#ipad-screen {
    justify-content: center;
    align-items: center;
    background-color: black;  
    display: none;
    transition: backgroundColor 0.5s linear;
    border: 1.5px solid #D5DBDB;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* Transition Fix */
}

#screen-border {
    flex:3;
    border-top: 20px solid #f4f5f7;
    border-bottom: 20px solid #f4f5f7;
    box-sizing: border-box;
    transition-delay: all 0.5s ease;
}

#ipad-bottom {
    flex: 0.5;
    border-radius: 0px 50px 50px 0px;
    background-color: #f4f5f7;
    transition-delay: all 0.5s ease;
}

#ipad-speaker {
    width: 2px;
    height: 100px;
    background-color: black;
}

#ipad-camera {
    width: 8px;
    height: 8px;
    background-color: black;
    margin: 5px;
    border-radius: 8px;
}

#ipad-bottom {
    display: flex;
}

@-webkit-keyframes greenPulse {
    from { -webkit-box-shadow: 0 0 1px #cd2e3a; }
    50% {  -webkit-box-shadow: 0 0 18px #cd2e3a; }
    to {-webkit-box-shadow: 0 0 9px #cd2e3a; }
   }
    
.cirrcle {
    width: 4em;
    height: 4em;
}

#ipad-button {
    position:absolute;
}

.cirrcle {
    -webkit-border-radius: 5em 5em;
    border-radius: 5em/5em;;
    border:1px solid #cd2e3a;
    width:4em;
    height:4em;
    outline:none;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}


#ipad-square {
    width: 1.6em;
    height: 1.6em;
    border: 1px solid #AAB7B8;
    border-radius: 0.3em;
    
}

#button-menu {
    width:100%;
    display: flex;
    flex: 0.5;
    background-color: #bcbcbc;
}

#lowerbox-left {
    flex: 1;
}

#lowerbox-middle {
    flex: 2;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
}

#nickname-input {
    width: 50%;
    height: 40px;
    background-color: #e9edf2;
    align-items: center;
    border: 2px solid #0047a0;
    border-radius: 20px;
    text-align: center;
    transition: width 3s;
    display: flex;
}

#call-to-action {
    background-color: #0047a0;
    width: 50%;
    height: 40px;
    margin: 10px;
    border-radius: 20px;
    color: white;
    animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
}

 
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	
	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-10px);}
	60% {transform: translateY(-10px);}
}

#lowerbox-right {
    flex: 1;
}

#main-title {
    background-color: #AAB7B8;
    flex: 5;
    width: 100%;
    font-family: 'Covered By Your Grace', cursive;
    font-weight: bold;
    background-color: #d3d3d3;
}

#mainbox1 {
    display: none;
    flex-direction: column;
    flex: 1;
    background-color: #f5f5f5;
    height: 100%;
    transition: flex 0.5s ease;
    justify-content: center;
    align-items: centert;
    opacity: 100%;
}

#mainbox1-title {
    background-color: #DDC4C4;
    flex: 1;
    width: 100%;
    height: 100%;
    display:flex;
}

#mainbox1-content {
    flex:6;
    width:100%;
    height:100%;
}

#mainbox1-image {
    background-image: url("https://i.imgur.com/c7YHTx5.png");
    background-size: contain;
    width:30em;
    height:30em;
    max-width:30em;
    max-height:30em;
}

.content1-right {
    float: right;
    width: 50%;
    text-align: center;
}


.contents1-textbox {
    background-color: navy;
    color: white;
    text-align: center;
    font-size: large;
    border-radius: 30px;
    height: 60px;
    margin:auto;
    width:70%;
    padding:10px;
    font-size: 22pt;
}

.contents1-textbox-label {
    vertical-align:middle;
}

.grey-line-left {
    float: left;
    width: 50%;
    text-align: left;
    margin: 0px;
}

.grey-line-right {
    float: right;
    width: 50%;
    text-align: right;
    margin:0px;
}

.contents1-image {
    padding: 20px;
    width: auto;
    height: auto;
}

img {
    height: 300px;
}

.content2-right {
    float: left;
    width: 50%;
    text-align: center;
    height: 300px;
    padding-top:50px;
}


#mainbox2 {
    flex-direction: column;
    flex: 50;
    background-color: #D8CFBD;
    height: 100%;
    transition: flex 0.52s ease;
    
}

#mainbox3 {
    display: none;
    flex-direction: column;
    flex: 1;
    background-color: #A5B0B5;
    height: 100%;
    transition: flex 0.5s ease;
    justify-content: center;
    align-items: center;
    opacity: 20%;
}

#mainbox3-title {
    background-color: #DDC4C4;
    flex: 1;
    width: 100%;
    height: 100%;
}

#mainbox3-content {
    background-color: #F2F2BC;
    flex: 6;
    width: 100%;
    height: 100%;
}

#mainbox3-image {
    background-image: url("https://i.imgur.com/c7YHTx5.png");
    background-size: contain;
    width:30em;
    height:30em;
    max-width:30em;
    max-height:30em;
}



#title-1 {
    font-size: 6em;
}

#title-2 {
    font-size: 4em;
}

#header-container {
    width: 100%;
    height: 100%;
    flex: 1;
    display: none;
    flex-direction: column;
    background-color: #dfdfdf;
}

#header1 {
    background-color: #A5B0B5;
    width: 100%;
    height: 100%;
    flex: 3; 
    color: white;
    text-align: center; 
    font-size: 50px;
    font-family: 'Covered By Your Grace', cursive;
}

#header2 {
    background-color: #00CCFF;
    width: 100%;
    height: 100%;
    flex: 1;
}


#nickname_alert {
    height:15px;
}

#call-to-action:hover {
    background-color: #0f62c7;
}

#nickname-input:hover {
    border-color: #0f62c7;
}



/* header2 toggle button */

/* #header2 {
    padding: 10px;
    text-align:center;
}

.button-section {
    padding: 10px;
    text-align:center;
}

.next-button-section {
    padding: 10px;
    text-align: center;
}
.btn-toggle-red {
    width: 180px;
    height: 50px;
    font-size: 30px;
    color: white;
    line-height: 50px;
    text-align: center;
    background-color: red;
    border: solid 2px red;
    border-radius: 30px;

    transition-property: color;
    transition-duration: 0.5s;

}

.btn-toggle-white {
    width: 180px;
    height: 50px;
    font-size: 30px;
    color: black;
    line-height: 50px;
    text-align: center;
    background-color: white;
    border: solid 1px black;
    border-radius: 30px;
    transition-property: background-color;
    transition-duration: 0.3s;
    
}

.btn-toggle-white-test {
    width: 210px;
    height: 50px;
    font-size: 30px;
    color: black;
    line-height: 50px;
    text-align: center;
    background-color: white;
    border: solid 1px black;
    border-radius: 30px;
} */



/* Toggle 2  */

#header2 {
    padding: 10px;
    text-align:center;
}

/* .switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
    
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ca2222;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2ab934;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px);
  }
  
  .s1
  {
    display: none;
  }
  
  .s1, .s2
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
  }
  
  input:checked+ .slider .s1
  {display: block;}
  
  input:checked + .slider .s2
  {display: none;}
  
  
/* Rounded sliders */
  /* .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
} */

#slider-button {
    background-color: #C1281B;
    width: 50%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    transition: justify content 0.3s ease;
}

.button-section {
    background-color: white;
    width: 20%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;
    display: flex;
    justify-content: flex-start;
}

#s1 {
    display: block;
}

#s2 {
    display: none;
}

.s {
    color: white;
    font-size: 16pt;
}